@import '../../css/variables.css';

.contact {
  background-color: white;
}

.contact a {
  border-bottom: 0;
}

.lineBreak {
  height: 3px;
  width: 100px;
  background: var(--colorBlack);
  margin: calc(var(--gutter)) 0;
}

.email {
  font-size: 1.333rem;
}

.link:hover {
  border-bottom: 1px solid black;
}
ul {
  list-style-type: none;
  padding: 0;
}

.social li {
  display: inline-block;
  margin-right: calc(var(--gutter) * 1.5);
}

.social li:hover {
  border-bottom: 1px solid;
}

