/* document.css */
@import './variables.css';

/* *, *:before, *:after {
    box-sizing: border-box;
  } */

  /* Responsive images */
  img {
      max-width: 100%;
      display: block;
    }

    a {
      color: inherit;
      text-decoration: none;
      outline: 0;
      cursor: pointer;
    }

  .underline {
        text-decoration: underline;
        /* color: white; */
  }

  ::selection {
      /*http://stackoverflow.com/questions/8372334/css-selection-background-000000-color-ffffff-not-appearing-as-full-b*/
      background: red;
      color: var(--colorWhite);
      opacity: 1;
    }